body {
    background-color: #fff8f2;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #6022B4;
}
footer {
    background-color: #c074f8;
}
div .bgn {
    background-color: #6022b4;
}