body {
    background-color: #ffffcc;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #ffffcc;
}
footer {
    background-color: #fffa90;
}
div .bgn {
    background-color: #6022b4;
}
