{% extends "fill_in_docx/base.html" %}

{% block title %}Створення договору{% endblock %}

{% block content %}

  <div class="text-center">
    {% if name_organisation %}
      <h4 class="display-6 text-success mb-4">Документи успішно створено!</h4>
      <p class="lead mb-5">Ваші документи готові до завантаження. Натисніть на відповідні посилання, щоб завантажити
        їх.</p>

      <div class="alert alert-info" role="alert">
        <p class="text-center"><i class="bi bi-check-circle-fill"></i> {{ name_organisation }}</p>
      </div>
    {% else %}
      <h4 class="display-6 text-success mb-4">За час Вашого сеансу документів не створено</h4>
      <p class="lead mb-5">Натисніть на кнопку, щоб повернутися до форми стоворення договору</p>
    {% endif %}

    {% if filled_contract_url %}
      <div class="list-group list-group-flush mb-4">
        <a href="{{ filled_contract_url }}"
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <span><i class="bi bi-file-earmark-word-fill"></i> Договір</span>
          <span class="badge bg-primary rounded-pill"><i class="bi bi-download"></i> Завантажити</span>
        </a>
        <a href="{{ filled_pax_akt_url }}"
           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <span><i class="bi bi-file-earmark-word-fill"></i> Рахунок. Акт виконаних робіт.</span>
          <span class="badge bg-primary rounded-pill"><i class="bi bi-download"></i> Завантажити</span>
        </a>
        {% if filled_add_agreement_url %}
          <a href="{{ filled_add_agreement_url }}"
             class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <span><i class="bi bi-file-earmark-word-fill"></i> Додаткова угода</span>
            <span class="badge bg-primary rounded-pill"><i class="bi bi-download"></i> Завантажити</span>
          </a>
        {% endif %}
      </div>
    {% endif %}

    <a href="{% url 'fill_in_docx:generate_contract' %}" class="btn btn-outline-secondary mt-3"><i
        class="bi bi-arrow-left"></i> Повернутися до форми</a>
  </div>
{% endblock %}
