{% extends "fill_in_docx/base.html" %}
{% load static %}

{% block title %}Створення договору{% endblock %}

{% block content %}

  <div class="text-center">
    <h4 class="display-6 text-success mb-4">Створення документів!</h4>
    <p class="lead mb-5">Натисніть на відповідні посилання, щоб завантажити
      їх.</p>
    {% if name_organisation %}
      <div class="alert alert-info" role="alert">
        <p class="text-center"><i class="bi bi-check-circle-fill"></i> {{ name_organisation }}</p>
      </div>
    {% endif %}
    <!-- Відображення посилань на файли -->
    <div id="file-links">
      <div class="text-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class=""><i class="fs-3 bi bi-filetype-docx"></i></span>
        </div>
      </div>
    </div>

    <a href="{% url 'fill_in_docx:generate_contract' %}" class="btn btn-outline-secondary mt-3"><i
        class="bi bi-arrow-left"></i> Повернутися до форми</a>
  </div>

  <!-- JavaScript для відстеження статусу завантаження файлів -->
  <script>
      document.addEventListener("DOMContentLoaded", () => {
          const taskId = "{{ task_id }}";
          if (taskId) {
              checkTaskStatus(taskId);
          }
      });
  </script>
{% endblock %}
