{% extends "fill_in_docx/base.html" %}
{% load static %}

{% block title %}Форма для договору{% endblock %}

<!-- Main Content -->
{% block content %}
  <div class="container mt-5">
    <div class="content-box p-4 shadow-lg rounded bg-white">
      <h3 class="mb-4 text-center">Форма для договору, рахунку, акту </h3>
      <form method="post" action=".">
        {% csrf_token %}

        <!-- Section 1: Основна інформація про договір -->
        <div class="p-3 mb-4 border rounded shadow">
          <h4 class="mb-3">Основна інформація про договір</h4>
          <div class="row g-3">

            <!-- Contract Number with Suffix and Date -->
            <div class="col-md-4">
              <label for="{{ form.contract_number.id_for_label }}" class="form-label"><i class="bi bi-hash"></i> Номер
                договору</label>
              <div class="input-group">
                <span class="input-group-text">No</span>
                {{ form.contract_number }}
                <span id="id_contract_number_suffix" class="input-group-text"></span>
              </div>
            </div>
            <div class="col-md-4">
              <label for="{{ form.date_contract.id_for_label }}" class="form-label"><i
                  class="bi bi-calendar"></i> Дата укладання договору</label>
              <div class="input-group">
                <span class="input-group-text">від</span>
                {{ form.date_contract }}
              </div>
            </div>

            <!-- City -->
            <div class="col-md-4">
              <label for="{{ form.city.id_for_label }}" class="form-label"><i
                  class="bi bi-buildings"></i> {{ form.city.label }}</label>
              <div class="input-group">
                <span class="input-group-text">м.</span>
                {{ form.city }}
              </div>
            </div>

          </div>
        </div>

        <!-- Section 2: Інформація про компанію -->
        <div class="p-3 mb-4 border rounded shadow">
          <h4 class="mb-3">Інформація про організацію</h4>
          <div class="row g-3">

            <!-- Full Name and Short Name -->
            <div class="col-md-8">
              <label for="{{ form.full_name.id_for_label }}" class="form-label">
                Назва юридичної особи</label>
              <div class="input-group">
                {{ form.legal_form }}
                <span class="input-group-text"><i class="bi bi-alphabet-uppercase"></i></span>
                {{ form.full_name }}
              </div>
            </div>
            <div class="col-md-4">
              <label for="{{ form.short_name.id_for_label }}" class="form-label">{{ form.short_name.label }}</label>
              <div class="input-group">
                <span class="input-group-text"><i
                    class="bi bi-alphabet"></i></span>
                {{ form.short_name }}
              </div>
            </div>

            <!-- Authorized Person Details -->
            <div class="col-md-8">
              <label for="{{ form.person_position.id_for_label }}" class="form-label">Уповноважена особа</label>
              <div class="input-group">
                {{ form.person_position }}
                <span class="input-group-text"><i class="bi bi-person"></i></span>
                {{ form.person_name }}
              </div>
            </div>

            <!-- Phone Number -->
            <div class="col-md-4">
              <label for="{{ form.phone_number.id_for_label }}" class="form-label">{{ form.phone_number.label }}</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                {{ form.phone_number }}
              </div>
            </div>

          </div>
        </div>

        <!-- Section 3: Адреса об'єкта -->
        <div class="p-3 mb-4 border rounded shadow">
          <h4 class="mb-3">Місцезнаходження</h4>
          <div class="row g-3">

            <!-- Address Fields -->
            <div class="col-md-12">
              <label class="form-label">Адреса об'єкта:</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
                {{ form.city_obj_type }}
                <span class="input-group-text"><i class="bi bi-signpost"></i></span>
                {{ form.street_name }}
                <span class="input-group-text"><i class="bi bi-building"></i></span>
                {{ form.building_number }}
              </div>
            </div>

          </div>
        </div>

        <!-- Section 4: Фінансова інформація -->
        <div class="p-3 mb-4 border rounded shadow">
          <h4 class="mb-3">Фінансова інформація</h4>
          <div class="row g-3">

            <!-- Source Price -->
            <div class="col-md-2">
              <label for="{{ form.source_price.id_for_label }}" class="form-label">{{ form.source_price.label }}</label>
              <div class="input-group mb-3">
                <span class="input-group-text">₴</span>
                {{ form.source_price }}
              </div>
            </div>

            <!-- Checkbox Fields -->
            <div class="col-md-5">
              <label class="form-label">Додаткові умови:</label>
              <div class="form-check form-switch">
                {{ form.cost_by_methodic }}
                <label class="form-check-label"
                       for="{{ form.cost_by_methodic.id_for_label }}">{{ form.cost_by_methodic.label }}</label>
              </div>
              <div class="form-check form-switch">
                {{ form.including_electricity_cost }}
                <label class="form-check-label"
                       for="{{ form.including_electricity_cost.id_for_label }}">{{ form.including_electricity_cost.label }}</label>
              </div>
              <div class="form-check form-switch">
                {{ form.contract_to_rem }}
                <label class="form-check-label"
                       for="{{ form.contract_to_rem.id_for_label }}">{{ form.contract_to_rem.label }}</label>
              </div>
            </div>

            <!-- Bank Details -->
            <div class="col-md-5">
              <label for="{{ form.bank_details.id_for_label }}" class="form-label">{{ form.bank_details.label }}</label>
              {{ form.bank_details }}
            </div>

          </div>
        </div>

        <!-- Section 5: Попередній договір -->
        <div class="p-3 mb-4 border rounded shadow">
          <h4 class="mb-3">Попередній договір</h4>
          <div class="row g-3">

            <!-- Old Contract Number and Date -->
            <div class="col-md-5">
              <label for="{{ form.old_contract_number.id_for_label }}" class="form-label">Номер договору</label>
              <div class="input-group">
                <span class="input-group-text">No</span>
                {{ form.old_contract_number }}
                <span class="input-group-text">від</span>
                {{ form.old_date_contract }}
              </div>
              <div class="form-text">
                Введіть номер і дату попереднього договору, якщо такий існує.
                Це поле сформує додаткову угоду на припинення раніше укладеного договору.
                Якщо дані будуть не введені, додаткова угода не буде створена.
              </div>
            </div>
            <div class="col-md-7">
              <!-- Stamp Image -->
              <div class="text-center mb-4">
                <img src="{% static 'fil_in_docx/images/approved_stamp.png' %}" alt="Печатка договору" width="200">
              </div>
            </div>

          </div>
        </div>

        <!-- Submit Button -->
        <div class="col-12 text-center mt-4">
          <button type="submit" class="btn btn-lg btn-warning px-5"><i class="bi bi-columns-gap"></i> СФОРМУВАТИ</button>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
