<!doctype html>
{% load static %}
{% load bootstrap5 %}

{# Load CSS #}
{% bootstrap_css %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/excite-bike/jquery-ui.css">

{# Load JavaScript #}
{% bootstrap_javascript %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="uk">
<head>
  <title>{% block title %}{% endblock %} - Dev</title>
</head>
<body>
{% block bootstrap5_content %}
  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

  <div class="container">
    <div class="row align-items-center">
      {% block content %}{% endblock %}
    </div>
  </div>

{% endblock %}

</body>
</html>
