@page {
    size: A4;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('/static/fonts/UbuntuMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "UbuntuMono", sans-serif;
    color: #0b58a2;
}