{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Головна - Панель Інструментів{% endblock %}

{% block content %}
  <div class="toolbox">
    <!-- Tool 1 -->
    <a href="{% url 'search_keys:cell_info' %}" class="toolbox-item-link">
      <div class="toolbox-item">
        <img src="{% static 'dashboard/images/search-icon.png' %}" alt="Пошук ключа">
        <h3>Пошук ключа</h3>
        <p class="text-muted">Швидкий пошук комірки з ключем від шафи з обладнанням.</p>
      </div>
    </a>

    <!-- Tool 2 -->
    <a href="{% url 'labels_print:tag_cell_form' %}" class="toolbox-item-link">
      <div class="toolbox-item">
        <img src="{% static 'dashboard/images/labels-icon.png' %}" alt="Друк наліпок">
        <h3>Друк наліпок</h3>
        <p class="text-muted">Створіть і надрукуйте наліпки для комірок з ключами.</p>
      </div>
    </a>

    <!-- Tool 3 -->
    <a href="{% url 'fill_in_docx:generate_contract' %}" class="toolbox-item-link">
      <div class="toolbox-item">
        <img src="{% static 'dashboard/images/contract-icon.png' %}" alt="Створення договору">
        <h3>Створення договору</h3>
        <p class="text-muted">Генеруйте договори за допомогою інтерактивної форми.</p>
      </div>
    </a>

  <!-- Tool 4 -->
    <a href="{% url 'parser:paystr' %}" class="toolbox-item-link">
      <div class="toolbox-item">
        <img src="{% static 'dashboard/images/paystr.svg' %}" alt="Створення договору">
        <h3>Платіжні рядки DirectumRX</h3>
        <p class="text-muted">Форматує платіжні рядки з DirectumRX для зручного вставлення в таблиці.</p>
      </div>
    </a>
  </div>
{% endblock %}
