{% extends "search_key/base.html" %}
{% load bootstrap5 %}

{% block title %}
  Search key
{% endblock %}

{% block content %}
  {% bootstrap_form_errors form layout='inline' %}

  {#  Form #}
  <form method="get">
    <fieldset>
      <legend>
        Де ключі...?
      </legend>
    </fieldset>
    <div class="inner-form">
      <div class="input-field first-wrap">
        {{ form.street_name }}
      </div>
      <div class="col-auto">
        {{ form.street_id }}
      </div>
      <div class="input-field second-wrap">
        {{ form.building_number }}
      </div>
      <div class="input-field third-wrap">
        <button type="submit" class="btn-search">Пошук</button>
      </div>
    </div>
  </form>
  {#End form#}

  {#Result in Modal dialog#}
  {% for cell in cells %}
    <div id="dialog-message" title="{{ cell }}">
      <p class="text-center fs-1">{{ cell.cell }}<br>🔑</p>
      <p class="text-center fs-5">{{ cell }}</p>
    </div>
  {% endfor %}
  {#End Modal dialog#}

  <script>
      $(function () {
          $("#dialog-message").dialog({
              modal: true,
              autoOpen: true,
              height: "auto",
              resizable: true,
              show: {
                  effect: "fade",
                  duration: 1000
              },
              hide: {
                  effect: "fade",
                  duration: 500
              },
              buttons: [
                  {
                      text: "Ok",
                      icon: "ui-icon-plus",
                      click: function () {
                          $(this).dialog("close");
                      },
                  }
              ],
          });
      });
  </script>





{% endblock %}